{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
<div class="homepage-wrapper">
    <div class="homepage-content">
        <article class="homepage-content-article">
            <h0 class="homepage-title">WELCOME</h0>
            <p class="underline">
            <p class="homepage-introduction"> My name is Peter Laufer. I began learning programming
              in July 2022. I started with Python, but studied SQL, HTML, CSS and a bit of JS as well.
            </p>
              <p class="homepage-introduction2"> I created this website to practice my skills and present
              them at their current level. The website allows you to<a id="link1" href="/register"> register </a>as a user. Your details (including 
              your contact email) will be saved in a secure database where I will be able to access them. You can 
              also leave notes when<a id="link1" href="/login"> logged-in </a>, this serves as an elaborate messaging system.
              Of course registering is not mandatory, my contact details are accessible via my CV as well, if you wish to communicate
              in a more orthodox manner.</p>
              <p class="homepage-introduction3">
                I am looking to begin my career in IT, working for a company that supports entry level programmers,
                who would love to become a part the ever evolving fantastic world of IT.
        </article>
        <div class="cv-container">
          <div class="my-cv" onclick="openPopup()"><span>C</span><span>v</span></div>
          <div class="popup-modal" id="popup">
            <object class="cv" data='/static/stylesheets/images/CVanime2.gif'></object>
            <h2>You clicked my CV so here it goes,</h2>
              <p>I kept my work history short, because if I were to list every job I've had dear visitor,
                 you'd be here a while, but most likely you'd leave this over animated page of mine.
                The main skill I had gained throughout my colorful employment history, was
                quick learning. I was able not only to adapt, but even thrive in the fields I chose
                to pursue. I am hoping that I can bring that skill into IT and soon become a valuable
                 asset to someone willing to place their trust in me. Please browse the site to learn more.
                 <br><p>- Peter</p>
                </p>
            <button class="close-modal" type="button" onclick="closePopup()">Cool beans!</button>
            <button class="close-modalx" type="button" onclick="closePopup()" style=" color: white;">X</button>
          </div>
      </div>
      <div class="homepage-footer-logo">
        <div class="perspective-text">
            <div class="perspective-line">
            <p></p>
            <p>“Show me and I forget.</p>
            </div>
            <div class="perspective-line">
            <p>“Show me and I forget.</p>
            <p>Teach me and I remember.</p>
            </div>
            <div class="perspective-line">
            <p>Teach me and I remember.</p>
            <p>Involve me and I learn.”</p>
            </div>
            <div class="perspective-line">
            <p>Involve me and I learn.”</p>
            <p>- Progress -</p>
            </div>
            <div class="perspective-line">
            <p>- the best road to - </p>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}







